---
clouds:
  admin:
    auth:
      auth_url: https://keystone.services.a.regiocloud.tech/v3
      username: USER
      user_domain_name: DOMAIN
      project_name: PROJECT
      project_domain_name: DOMAIN
    identity_api_version: 3
