[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyYAML = "==6.0.1"
loguru = "==0.7.2"
openstacksdk = "==1.5.0"
requests = "==2.31.0"
typer = {version = "==0.9.0", extras = ["all"]}

[dev-packages]
munch = "==4.0.0"

[requires]
python_version = "3.10"
