[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyYAML = "==6.0.2"
loguru = "==0.7.2"
openstacksdk = "==3.3.0"
requests = "==2.32.3"
requests-file = "==2.1.0"
typer = {version = "==0.12.4", extras = ["all"]}

[dev-packages]
munch = "==4.0.0"
